html, body {
  width: 100%;
  height: 100%;
}
body {
  color: #;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3125rem;
}

/* TYPOGRAPHY
-------------------------------------------------------------------------*/

h1 {
  font-family: 'RockwellStd', Helvetica, sans-serif;
  font-size: 2.625rem;
  line-height: 1.8125rem;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
}
h2 {
  font-family: 'RockwellStd', Helvetica, sans-serif;
  font-size: 1.8125rem;
  line-height: 1.3125rem;
  margin-bottom: 1.3125rem;
}
em {
  font-weight: 100italic;
}
a {
  text-decoration: none;
}
.button {
  background-color: #444;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  margin-bottom: 1.8125rem;
  padding: 5px 10px;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 1.8125rem;
  }
}

@media only screen and (min-width: 690px) {
  h1 {
  }
}

/* LAYOUT
-------------------------------------------------------------------------*/

.content {
  padding: 5%;
}
header {
  margin-bottom: 2.625rem;
}
header img {
  width: 100%;
  height: auto;
  margin-bottom: 1.8125rem;
}
dl {
  margin-bottom: 2.625rem;
}
dd {
  width: 21%;
  padding: 0 3% 3% 0;
  display: inline-block;
}
dd img {
  width: 100%;
}
audio {
  display: block;
  margin-bottom: 1.8125rem;
  width: 100%;
}


@media only screen and (min-width: 600px) {
  header {
    display: inline-block;
    margin-right: 3%;
    vertical-align: top;
    width: 48%;
  }
  section {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }
}

@media only screen and (min-width: 800px) {
  .content {
    margin: 0 auto;
    padding: 1.8125rem 0 0 0;
    width: 800px;
  }
  header {
    margin-right: 45px;
    width: 250px;
  }
  section {
    width: 500px;
  }
  dd {
    width: 15%;
  }
  audio {
    display: inline-block;
    margin-right: 10px;
    width: 50%;
    vertical-align: top;
  }
  a {
    display: inline-block;
    vertical-align: top;
  }
}

/* FONTS
-------------------------------------------------------------------------*/

@font-face {
  font-family: 'RockwellStdLight';
  src: url('rockwellstd-light.eot');
  src: url('rockwellstd-light.eot') format('embedded-opentype'),
       url('rockwellstd-light.woff') format('woff'),
       url('rockwellstd-light.ttf') format('truetype'),
       url('rockwellstd-light.svg#RockwellStdLight') format('svg');
}
@font-face {
  font-family: 'RockwellStd';
  src: url('rockwellstd.eot');
  src: url('rockwellstd.eot') format('embedded-opentype'),
       url('rockwellstd.woff') format('woff'),
       url('rockwellstd.ttf') format('truetype'),
       url('rockwellstd.svg#RockwellStd') format('svg');
}
